body{
    background: #ccc;
}
.gallery{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.gallery__item{
    padding: 1rem;
    background: #fff;
    margin: .5rem;
    float: left;


}
.gallery__img{
    display: block;
    width: 100%;
}
.footer{
    background: #09c;
}
.left{
  float: left;
}
.clear{
  clear: both;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}