*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f3f4;
}
.gallery{
    list-style: none;
    margin: 2rem 1rem;
    padding-left: 0;
    text-align: center;
    

}
h1 {
    color: gray;
}
.gallery__item{
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: .25rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    margin: 1rem;
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
}
.gallery__item:hover{
    transform: scale(1.2);
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
    filter: grayscale();
}
.gallery__img{
    width: 100%;
    display: block;
}
.gallery__img-title{
    padding: 1rem;
}